*.log
*.gz
*.pdf
*.bbl
*.blg
*.dvi
*.aux
*.out

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

exp/simgrid/.idea/
exp/simgrid/cmake-build-debug/
exp/simgrid/CMakeModules/


**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/

exp/real/pull.sh
exp/real/push2cloud.sh